## Task 1 - SQL

### Build SparkSession:

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

### Read the json file:

In [36]:
sampleDF = spark.read.json('DataFrames_sample.json')

### Display the schema:

In [37]:
sampleDF.printSchema()

root
 |-- D: double (nullable = true)
 |-- H: double (nullable = true)
 |-- HDD: string (nullable = true)
 |-- Id: long (nullable = true)
 |-- Model: string (nullable = true)
 |-- RAM: string (nullable = true)
 |-- ScreenSize: string (nullable = true)
 |-- W: double (nullable = true)
 |-- Weight: double (nullable = true)
 |-- Year: long (nullable = true)

### Get all the data when "Model" equal "MacBook Pro":

In [6]:
sampleDF.filter('Model = "MacBook Pro" ').show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Create TempView:

In [7]:
sampleDF.createOrReplaceTempView("labtop")

### Display "RAM"column and count "RAM" column:

In [8]:
import pyspark.sql.functions as F
from pyspark.sql.functions import *


sampleDF.groupby('RAM').count().show()

+----+-----+
| RAM|count|
+----+-----+
|64GB|    1|
|16GB|    1|
| 8GB|    2|
+----+-----+

### Get all columns when "Year" column equal "2015"

In [9]:
sampleDF.filter('Year=2015').show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all when "Model" start with "M":

In [10]:
sampleDF.filter(sampleDF.Model.startswith('M') ).show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
|7.74|0.52|256GB SSD|  2|    MacBook| 8GB|       12"|11.04|  2.03|2016|
|8.94|0.68|128GB SSD|  3|MacBook Air| 8GB|     13.3"| 12.8|  2.96|2016|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data when "Model" column equal "MacBook Pro"

In [11]:
sampleDF.filter(sampleDF.Model== 'MacBook Pro' ).show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data with Multiple Conditions when "RAM" column equal "8GB" and "Model" column is "Macbook".

In [12]:
sampleDF.filter((sampleDF.RAM== '8GB') & (sampleDF.Model.contains('MacBook')) ).show()

+----+----+---------+---+-----------+---+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model|RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+---+----------+-----+------+----+
|7.74|0.52|256GB SSD|  2|    MacBook|8GB|       12"|11.04|  2.03|2016|
|8.94|0.68|128GB SSD|  3|MacBook Air|8GB|     13.3"| 12.8|  2.96|2016|
+----+----+---------+---+-----------+---+----------+-----+------+----+

### Get all data with Multiple Conditions when "D" greater than or equal "8" and "Model" column is "iMac".

In [13]:
sampleDF.filter((sampleDF.D >= 8)&(sampleDF.Model == 'iMac') ).show()

+---+----+-------+---+-----+----+----------+----+------+----+
|  D|   H|    HDD| Id|Model| RAM|ScreenSize|   W|Weight|Year|
+---+----+-------+---+-----+----+----------+----+------+----+
|8.0|20.3|1TB SSD|  4| iMac|64GB|       27"|25.6|  20.8|2017|
+---+----+-------+---+-----+----+----------+----+------+----+

## Task 2

### Read "test1" dataset:

In [14]:
test1DF =spark.read.csv('test1.csv',header=True,inferSchema=True)
test1DF.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

### Display Salary of the people less than or equal to 20000

In [15]:
test1DF.filter(test1DF.Salary <=20000).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

### Display Salary of the people less than or equal to 20000 and greater than or equal 15000

In [16]:
test1DF.filter((test1DF.Salary <=20000)& (test1DF.Salary >= 15000)).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

## Task 3

### Read "test3" dataset:

In [17]:
test3DF =spark.read.csv('test3.csv',header=True,inferSchema=True)

### Display dataset

In [18]:
test3DF.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

### Display schema

In [19]:
test3DF.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

### Group by "Name" column and using sum function on "Name" column

In [20]:
test3DF.groupby('Name').sum('salary').show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

### Group by "Name" column and using avg function on "Name" column

In [21]:
test3DF.groupby('Name').avg('salary').show()

+---------+------------------+
|     Name|       avg(salary)|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+

### Group by "Departments" column and using sum function on "Departments" column

In [22]:
test3DF.groupby('Departments').sum('salary').show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

### Group by "Departments" column and using mean function on "Departments" column:

In [23]:
test3DF.groupby('Departments').avg('salary').show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

Group by "Departments" column and using count function on "Departments" column:

In [24]:
test3DF.groupby('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

### Apply agg to using sum function get the total of salaries

In [25]:
test3DF.groupby('Departments').agg(sum('salary')).show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

## Task 4

You've been flown to their headquarters in Ulsan, South Korea, to assist them in accurately estimating the number of crew members a ship will need.

They're currently building new ships for certain customers, and they'd like you to create a model and utilize it to estimate how many crew members the ships will require.

Metadata:
1. Measurements of ship size 
2. capacity 
3. crew 
4. age for 158 cruise ships.

It is saved in a csv file for you called "ITI_data.csv". our task is to develop a regression model that will assist in predicting the number of crew members required for future ships. The client also indicated that they have found that particular cruise lines will differ in acceptable crew counts, thus this is most likely an important factor to consider when conducting your investigation.

In [26]:
from pyspark.sql.types import *

schema = StructType([StructField("Ship_name", StringType(), False),
                     StructField("Cruise_line", StringType(), False),
                     StructField("Age", IntegerType(), False),
                     StructField("Tonnage", FloatType(), False),
                     StructField("passengers", FloatType(), False),
                     StructField("length", FloatType(), False),
                     StructField("cabins", FloatType(), False),
                     StructField("passenger_density", FloatType(), False),
                     StructField("crew", FloatType(), False),
                     
                     ])
itiDF =spark.read.csv('ITI_data.csv',header=True,schema=schema)
itiDF.printSchema()

root
 |-- Ship_name: string (nullable = true)
 |-- Cruise_line: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tonnage: float (nullable = true)
 |-- passengers: float (nullable = true)
 |-- length: float (nullable = true)
 |-- cabins: float (nullable = true)
 |-- passenger_density: float (nullable = true)
 |-- crew: float (nullable = true)

### OneHotEncoder

In [27]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder,VectorAssembler

trainDF, testDF = itiDF.randomSplit([.8,.2],seed=42)
print(f"There are {trainDF.count()} rows in the training set, and {testDF.count()} in the test set")

stringIndexer = StringIndexer(inputCols=['Cruise_line'],
                             outputCols=['Cruise_line_Index'],
                             handleInvalid='skip')
oheEncoder = OneHotEncoder(inputCols=['Cruise_line_Index'],
                          outputCols=['Cruise_line__OHE'])

There are 133 rows in the training set, and 25 in the test set

### Use VectorAssembler to merge all columns into one column:

In [28]:
numericCols = [field for (field,dataType) in trainDF.dtypes
              if (((dataType=='float')|(dataType=='integer') )& (field!='crew'))]
allcolumns = numericCols + ['Cruise_line__OHE']
vecAssembler = VectorAssembler(inputCols=allcolumns,outputCol='features')

### Create a Linear Regression Model

In [29]:
from pyspark.ml.regression import LinearRegression
lr = LinearRegression(labelCol='crew',featuresCol='features')

### Creating a Pipeline

In [30]:
from pyspark.ml import Pipeline
pipeline =Pipeline(stages = [stringIndexer,oheEncoder,vecAssembler,lr])

### Model Evaluation

In [31]:
pipeModel = pipeline.fit(trainDF)
predDF = pipeModel.transform(testDF)

In [32]:
predDF.select('crew','prediction').show(5,truncate=False)

+----+------------------+
|crew|prediction        |
+----+------------------+
|6.0 |6.059715342269042 |
|5.2 |5.2104258818047136|
|8.5 |8.60784055009573  |
|6.17|5.516612370098385 |
|12.0|12.872539805671542|
+----+------------------+
only showing top 5 rows

In [33]:
# Using RMSE
from pyspark.ml.evaluation import RegressionEvaluator
regressionEvaluator = RegressionEvaluator(predictionCol='prediction',
                                         labelCol='crew',
                                         metricName='rmse').evaluate(predDF)
regressionEvaluator

0.5186259882308978

In [34]:
# Using R^2
r2 = RegressionEvaluator(predictionCol='prediction',
                                         labelCol='crew',
                                         metricName='r2').evaluate(predDF)
print(f"R2 is {r2}")

R2 is 0.9728301916526385